<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--默认的属性配置，没有什么特殊的要求-->
    <properties>
        <property name="" value=""/>
    </properties>

    <!--默认的一些设置信息-->
    <!--这里配置信息，是配置和 JAVA 对象的链接，我们不需要知道细节，只需要知道某些配置怎么用，有什么用就行了-->
    <settings>
        <!--比如这个 SQL 的执行器的类别，我们传入 String，它下面将自动解析-->
        <!--并返回正确的结果-->
        <setting name="defaultExecutorType" value="BATCH"/>
    </settings>

    <!--别名和类全路径的映射关系-->
    <!--不是特别必要去看-->
<!--    <typeAliases>-->
<!--        <typeAlias type=""/>-->
<!--        <package name=""/>-->
<!--    </typeAliases>-->
    
<!--    <typeHandlers>-->
<!--        <typeHandler handler="cn.edu.cqu.learn.architecture.ibatis.typehandler.SimpleTypeHandler"/>-->
<!--    </typeHandlers>-->

    <environments default="test">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/feng"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!--引擎将通过下面的配置，去配置一下 Mapper， 我以后自己通过代码的方式去配置-->
    <mappers>
        <mapper resource="mapper/BaseEntityMapper.xml"/>
    </mappers>
</configuration>